/*$bg-color-gradient: rgba(darken($bg-color-heading, 7%), .7);*/
@font-face {
  font-family: 'WalleyeRegular';
  src: url('fonts/walleye/walleye-webfont.eot?1502194466');
  src: url('fonts/walleye/walleye-webfont.eot?&1502194466#iefix') format("embedded-opentype"), url('fonts/walleye/walleye-webfont.woff2?1502194466') format("woff2"), url('fonts/walleye/walleye-webfont.woff?1502194466') format("woff"), url('fonts/walleye/walleye-webfont.svg?1502194466#walleyeregular') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WalleyeBold';
  src: url('fonts/walleye/walleye-bold-webfont.eot?1502194466');
  src: url('fonts/walleye/walleye-bold-webfont.eot?&1502194466#iefix') format("embedded-opentype"), url('fonts/walleye/walleye-bold-webfont.woff2?1502194466') format("woff2"), url('fonts/walleye/walleye-bold-webfont.woff?1502194466') format("woff"), url('fonts/walleye/walleye-bold-webfont.svg?1502194466#walleyebold') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WalleyeBoldItalic';
  src: url('fonts/walleye/walleye-bolditalic-webfont.eot?1502194466');
  src: url('fonts/walleye/walleye-bolditalic-webfont.eot?&1502194466#iefix') format("embedded-opentype"), url('fonts/walleye/walleye-bolditalic-webfont.woff2?1502194466') format("woff2"), url('fonts/walleye/walleye-bolditalic-webfont.woff?1502194466') format("woff"), url('fonts/walleye/walleye-bolditalic-webfont.svg?1502194466#walleyebold_italic') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WalleyeItalic';
  src: url('fonts/walleye/walleye-italic-webfont.eot?1502194466');
  src: url('fonts/walleye/walleye-italic-webfont.eot?&1502194466#iefix') format("embedded-opentype"), url('fonts/walleye/walleye-italic-webfont.woff2?1502194466') format("woff2"), url('fonts/walleye/walleye-italic-webfont.woff?1502194466') format("woff"), url('fonts/walleye/walleye-italic-webfont.svg?1502194466#walleyeitalic') format("svg");
  font-weight: normal;
  font-style: normal;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, ../sass/partials/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, ../sass/partials/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, ../sass/partials/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, ../sass/partials/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, ../sass/partials/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, ../sass/partials/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, ../sass/partials/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, ../sass/partials/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, ../sass/partials/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, ../sass/partials/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, ../sass/partials/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, ../sass/partials/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, ../sass/partials/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, ../sass/partials/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, ../sass/partials/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, ../sass/partials/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, ../sass/partials/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, ../sass/partials/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, ../sass/partials/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, ../sass/partials/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, ../sass/partials/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, ../sass/partials/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, ../sass/partials/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, ../sass/partials/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, ../sass/partials/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, ../sass/partials/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/partials/_base.scss */
body {
  background-color: #F2ECCE;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #0D0D0D;
  line-height: 1.4;
}
/* line 8, ../sass/partials/_base.scss */
.no-fontface body {
  font-size: .95rem;
}

/* line 13, ../sass/partials/_base.scss */
h1, h2 {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-size: 6.25rem;
  font-weight: 900;
}

/* line 18, ../sass/partials/_base.scss */
h2 {
  font-size: 60px;
  font-size: 3.75rem;
}

/* line 21, ../sass/partials/_base.scss */
h3 {
  font-size: 18px;
  font-size: 1.125rem;
}

/*.blocks__title {
	font-family: $heading-font;
	text-transform: uppercase;
	font-weight: 400;
}*/
/* line 29, ../sass/partials/_base.scss */
.blocks__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 35, ../sass/partials/_base.scss */
::-moz-selection {
  background: #734A19;
  color: #F2ECCE;
}

/* line 39, ../sass/partials/_base.scss */
::selection {
  background: #734A19;
  color: #F2ECCE;
}

/* line 1, ../sass/partials/_placeholders.scss */
.container, .navbar {
  overflow: hidden;
  *zoom: 1;
}

/* line 4, ../sass/partials/_placeholders.scss */
.navbar__menu, .block__menu {
  padding: 0;
  list-style: none;
}

/* line 8, ../sass/partials/_placeholders.scss */
a {
  text-decoration: none;
  color: inherit;
}

/*$susy: (
	columns: 4,
	gutters: .15,
	container: 1120px,
	global-box-sizing: border-box,
);*/
/* line 18, ../sass/partials/_layout.scss */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/partials/_layout.scss */
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 26, ../sass/partials/_layout.scss */
.title, .contact {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 29, ../sass/partials/_layout.scss */
.wrapper--title {
  width: 61.53846%;
  float: left;
  margin-right: 2.5641%;
}

/* line 32, ../sass/partials/_layout.scss */
.wrapper--section {
  width: 61.53846%;
  float: left;
  margin-right: 2.5641%;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 32, ../sass/partials/_layout.scss */
  .wrapper--section {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
  }
}

@media only screen and (min-width: 580px) {
  /* line 41, ../sass/partials/_layout.scss */
  .navbar__item {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media only screen and (min-width: 580px) {
  /* line 45, ../sass/partials/_layout.scss */
  .navbar__item:last-child {
    float: right;
    margin-right: 0;
  }
}

/* line 51, ../sass/partials/_layout.scss */
.block {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 580px) {
  /* line 51, ../sass/partials/_layout.scss */
  .block {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 55, ../sass/partials/_layout.scss */
  .block:nth-child(2), .block:last-child {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1136px) {
  /* line 51, ../sass/partials/_layout.scss */
  .block {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 61, ../sass/partials/_layout.scss */
  .block:nth-child(2) {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 64, ../sass/partials/_layout.scss */
  .block:last-child {
    float: right;
    margin-right: 0;
  }
}

/* line 69, ../sass/partials/_layout.scss */
.text-columns {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 752px) {
  /* line 69, ../sass/partials/_layout.scss */
  .text-columns {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 1136px) {
  /* line 69, ../sass/partials/_layout.scss */
  .text-columns {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    columns: 2;
    column-gap: 1.4em;
  }
}

/* line 1, ../sass/partials/_modules.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/partials/_modules.scss */
.container {
  padding: 0 1em;
}

/* line 12, ../sass/partials/_modules.scss */
header {
  overflow: hidden;
}

/* line 15, ../sass/partials/_modules.scss */
.navbar {
  position: fixed;
  width: 100%;
  padding: .5em 0;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: rgba(250, 247, 235, 0.7);
  -moz-box-shadow: #734A19 0 1px 5px;
  -webkit-box-shadow: #734A19 0 1px 5px;
  box-shadow: #734A19 0 1px 5px;
  z-index: 100;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 15, ../sass/partials/_modules.scss */
  .navbar {
    padding: .7em 0;
  }
}
@media only screen and (min-width: 580px) and (max-width: 751px) {
  /* line 15, ../sass/partials/_modules.scss */
  .navbar {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}
/* line 29, ../sass/partials/_modules.scss */
.navbar__icon {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  height: 1em;
  width: 1.5em;
  margin: auto;
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
@media only screen and (min-width: 580px) {
  /* line 29, ../sass/partials/_modules.scss */
  .navbar__icon {
    display: none;
  }
}
/* line 43, ../sass/partials/_modules.scss */
.navbar__icon:hover {
  cursor: pointer;
}
/* line 46, ../sass/partials/_modules.scss */
.navbar__icon::before, .navbar__icon::after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #665035;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  -moz-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
@media only screen and (min-width: 580px) {
  /* line 46, ../sass/partials/_modules.scss */
  .navbar__icon::before, .navbar__icon::after {
    display: none;
  }
}
/* line 62, ../sass/partials/_modules.scss */
.navbar__icon::before {
  content: 'Korona';
  right: 150%;
  font-style: italic;
}
/* line 67, ../sass/partials/_modules.scss */
.navbar__icon::after {
  content: 'Sudet\00f3w';
  left: 150%;
  text-transform: uppercase;
}
/* line 73, ../sass/partials/_modules.scss */
.navbar__icon-bar {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #8f6e47;
  -moz-box-shadow: #734A19 1px 1px 1px;
  -webkit-box-shadow: #734A19 1px 1px 1px;
  box-shadow: #734A19 1px 1px 1px;
}
/* line 80, ../sass/partials/_modules.scss */
.navbar__icon-bar--2 {
  top: 0;
  bottom: 0;
  margin: auto 0;
}
/* line 85, ../sass/partials/_modules.scss */
.navbar__icon-bar--3 {
  bottom: 0;
}
/* line 89, ../sass/partials/_modules.scss */
.navbar__menu {
  display: none;
  margin: 0;
}
@media only screen and (min-width: 580px) {
  /* line 89, ../sass/partials/_modules.scss */
  .navbar__menu {
    display: block;
  }
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 89, ../sass/partials/_modules.scss */
  .navbar__menu {
    margin-top: 1em;
    border-top: 1px solid rgba(64, 36, 2, 0.7);
    border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #402402 20%, #402402 80%, rgba(0, 0, 0, 0)) 1;
  }
}
/* line 102, ../sass/partials/_modules.scss */
.navbar__item {
  position: relative;
  padding-left: 2.5641%;
  text-align: center;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 102, ../sass/partials/_modules.scss */
  .navbar__item {
    padding: .7em 0 0;
  }
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 109, ../sass/partials/_modules.scss */
  .navbar__item:first-child {
    padding: .9em 0 0;
  }
}
/* line 114, ../sass/partials/_modules.scss */
.navbar__item:last-child {
  padding-left: 0;
}
/* line 117, ../sass/partials/_modules.scss */
.navbar__item::before, .navbar__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  margin-right: .4em;
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 117, ../sass/partials/_modules.scss */
  .navbar__item::before, .navbar__item::after {
    display: none;
  }
}
/* line 128, ../sass/partials/_modules.scss */
.navbar__item::before {
  top: 0;
  border-left: 1px solid #734A19;
}
/* line 132, ../sass/partials/_modules.scss */
.navbar__item::after {
  right: 100%;
  display: block;
  border-bottom: 1px solid;
  -webkit-border-image: -webkit-linear-gradient(to right, #734A19, transparent) 1;
  -moz-border-image: -moz-linear-gradient(to right, #734A19, transparent) 1;
  -o-border-image: -o-linear-gradient(to right, #734A19, transparent) 1;
  border-image: linear-gradient(to right, #734a19, rgba(0, 0, 0, 0)) 1;
  /*visibility: hidden;*/
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 139, ../sass/partials/_modules.scss */
.no-borderimage .navbar__item::after, .no-cssgradients .navbar__item::after {
  border-bottom: 1px solid #734A19;
}
@media only screen and (min-width: 580px) {
  /* line 143, ../sass/partials/_modules.scss */
  .navbar__item:hover::after {
    right: 0;
    /*visibility: visible;*/
  }
}
/* line 149, ../sass/partials/_modules.scss */
.navbar__item a {
  position: relative;
  display: inline-block;
  height: 2em;
  padding: .2em;
  color: #402402;
  line-height: 1.6;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 158, ../sass/partials/_modules.scss */
.navbar__item a:hover {
  font-weight: bolder;
  color: #734A19;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 158, ../sass/partials/_modules.scss */
  .navbar__item a:hover {
    font-weight: bold;
  }
}

/* line 168, ../sass/partials/_modules.scss */
.section-image {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: sepia(100%);
  margin-bottom: 4em;
}
/* line 175, ../sass/partials/_modules.scss */
.section-image .container {
  overflow: visible;
}
/* line 178, ../sass/partials/_modules.scss */
.section-image--header {
  height: 100vh;
  margin-bottom: 0;
  background-image: url('../img/sudety_zachodnie/rudawy_janowickie/ostra_mala.jpg?1493634186');
}
/* line 182, ../sass/partials/_modules.scss */
.no-cssfilters .section-image--header {
  background-image: url('../img/sudety_zachodnie/rudawy_janowickie/ostra_mala_s.jpg?1522110467');
}
/* line 185, ../sass/partials/_modules.scss */
.section-image--header .container {
  display: flex;
  height: 100%;
  align-items: center;
  /*overflow: visible;*/
}
/* line 192, ../sass/partials/_modules.scss */
.section-image--about {
  background-image: url('../img/sudety_wschodnie/masyw_snieznika/Snieznik.jpg?1471255656');
  background-position: left 35%;
  border-top: 1px solid #402402;
  border-bottom: 1px solid #402402;
  -webkit-border-image: -webkit-linear-gradient(to right, #402402, transparent) 1;
  -moz-border-image: -moz-linear-gradient(to right, #402402, transparent) 1;
  -o-border-image: -o-linear-gradient(to right, #402402, transparent) 1;
  border-image: linear-gradient(to right, #402402, rgba(0, 0, 0, 0)) 1;
  z-index: -10;
}
/* line 195, ../sass/partials/_modules.scss */
.no-cssfilters .section-image--about {
  background-image: url('../img/sudety_wschodnie/masyw_snieznika/Snieznik_s.jpg?1528573508');
}
/* line 203, ../sass/partials/_modules.scss */
.section-image--author {
  background-image: url('../img/sudety_zachodnie/gory_kaczawskie/gory_kaczawskie_panorama.jpg?1524904790');
  border-top: 1px solid #402402;
  border-bottom: 1px solid #402402;
  -webkit-border-image: -webkit-linear-gradient(to right, #402402, transparent) 1;
  -moz-border-image: -moz-linear-gradient(to right, #402402, transparent) 1;
  -o-border-image: -o-linear-gradient(to right, #402402, transparent) 1;
  border-image: linear-gradient(to right, #402402, rgba(0, 0, 0, 0)) 1;
  z-index: -10;
}
/* line 205, ../sass/partials/_modules.scss */
.no-cssfilters .section-image--author {
  background-image: url('../img/sudety_zachodnie/gory_kaczawskie/gory_kaczawskie_panorama_s.jpg?1528573591');
}

/* line 215, ../sass/partials/_modules.scss */
.wrapper--title {
  position: relative;
  margin-left: .5em;
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
/* line 219, ../sass/partials/_modules.scss */
.wrapper--title::before, .wrapper--title::after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  height: 1px;
  margin: auto 0;
  border-top: 1px solid #402402;
}
@media only screen and (min-width: 1136px) {
  /* line 228, ../sass/partials/_modules.scss */
  .wrapper--title::before {
    right: 100%;
    left: -50vw;
  }
}
@media only screen and (min-width: 580px) {
  /* line 234, ../sass/partials/_modules.scss */
  .wrapper--title::after {
    right: -50vw;
    left: 100%;
  }
}
/* line 241, ../sass/partials/_modules.scss */
.wrapper--section {
  position: relative;
}
/* line 243, ../sass/partials/_modules.scss */
.wrapper--section::before {
  content: '';
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: -50vw;
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  background-color: rgba(64, 36, 2, 0.7);
  z-index: -1;
}
/* line 252, ../sass/partials/_modules.scss */
.no-cssfilters .wrapper--section::before {
  background-color: rgba(29, 17, 1, 0.7);
}
@media only screen and (min-width: 580px) {
  /* line 257, ../sass/partials/_modules.scss */
  .wrapper--section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 62%;
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background-color: rgba(242, 236, 206, 0.2);
    z-index: -1;
  }
}

/* line 272, ../sass/partials/_modules.scss */
.title {
  color: #F2ECCE;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
/* line 276, ../sass/partials/_modules.scss */
.title--main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: .4em;
  font-size: 100px;
  font-size: 6.25rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 276, ../sass/partials/_modules.scss */
  .title--main {
    display: none;
  }
}
@media only screen and (min-width: 580px) and (max-width: 751px) {
  /* line 276, ../sass/partials/_modules.scss */
  .title--main {
    font-size: 3.35em;
  }
}
@media only screen and (min-width: 752px) and (max-width: 1135px) {
  /* line 276, ../sass/partials/_modules.scss */
  .title--main {
    font-size: 3.85em;
  }
}
/* line 293, ../sass/partials/_modules.scss */
.title--main span {
  -moz-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  z-index: 1;
}
/* line 296, ../sass/partials/_modules.scss */
.title--main span em {
  color: #9d805e;
  font-size: .85em;
  text-transform: none;
}
/* line 301, ../sass/partials/_modules.scss */
.title--main span:first-child, .title--main span:last-child {
  display: flex;
}
/* line 304, ../sass/partials/_modules.scss */
.title--main span:first-child {
  align-items: center;
  margin-left: -.085em;
  margin-right: 0;
  font-size: 2.2em;
}
/* line 310, ../sass/partials/_modules.scss */
.title--main span:last-child {
  flex-direction: column;
  justify-content: center;
  padding-top: .13em;
  font-size: .9em;
  line-height: 1.2;
}
/* line 318, ../sass/partials/_modules.scss */
.title--main::before, .title--main::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -50vw;
}
@media only screen and (min-width: 1136px) {
  /* line 318, ../sass/partials/_modules.scss */
  .title--main::before, .title--main::after {
    left: 0;
  }
}
/* line 329, ../sass/partials/_modules.scss */
.title--main::before {
  top: .45em;
  bottom: .65em;
  background-color: rgba(64, 36, 2, 0.7);
}
/* line 333, ../sass/partials/_modules.scss */
.no-cssfilters .title--main::before {
  background-color: rgba(29, 17, 1, 0.7);
}
/* line 337, ../sass/partials/_modules.scss */
.title--main::after {
  border-right: 1px solid rgba(64, 36, 2, 0.7);
  border-left: 1px solid rgba(64, 36, 2, 0.7);
  border-image: linear-gradient(rgba(0, 0, 0, 0), #402402 20%, #402402 80%, rgba(0, 0, 0, 0)) 1;
}
/* line 343, ../sass/partials/_modules.scss */
.title--section {
  /*position: relative;*/
  margin: 0;
  padding: 3rem 0;
  white-space: nowrap;
  /*&::before {
  	content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: -50vw;
  	@include skewed-box($skew, left, top);
  	background-color: rgba($bg-color-heading, .7);
  	.no-cssfilters & {
  		background-color: rgba(darken($bg-color-heading, 7%), .7);
  	}
  	z-index: -1;
  }
  &::after {
  	@include MQ(Splus){
  		content: '';
  		position: absolute;
  		top: 0;
  		left: 100%;
  		height: 100%;
  		width: 62%;
  		@include skewed-box($skew, left, top);
  		background-color: rgba($bg-color-primary, .2);
  		z-index: -1;
  	}
  }*/
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 343, ../sass/partials/_modules.scss */
  .title--section {
    font-size: 2em;
  }
}
@media only screen and (min-width: 580px) and (max-width: 751px) {
  /* line 343, ../sass/partials/_modules.scss */
  .title--section {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 752px) and (max-width: 1135px) {
  /* line 343, ../sass/partials/_modules.scss */
  .title--section {
    font-size: 3em;
  }
}

/* line 386, ../sass/partials/_modules.scss */
.peak-blocks {
  position: relative;
  padding: 5rem 0;
  overflow: hidden;
}
@media only screen and (min-width: 1136px) {
  /* line 386, ../sass/partials/_modules.scss */
  .peak-blocks {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  /* line 393, ../sass/partials/_modules.scss */
  .no-flexbox .peak-blocks {
    display: block;
  }
}
/* line 400, ../sass/partials/_modules.scss */
.peak-blocks__img {
  display: none;
}
@media only screen and (min-width: 1136px) {
  /* line 400, ../sass/partials/_modules.scss */
  .peak-blocks__img {
    position: absolute;
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    filter: sepia(100%);
    opacity: .1;
    z-index: -100;
  }
  /* line 409, ../sass/partials/_modules.scss */
  .no-objectfit .peak-blocks__img {
    top: -27%;
    left: 0;
    height: 150%;
    width: 150%;
  }
}
/* line 420, ../sass/partials/_modules.scss */
.peak-blocks .container {
  position: relative;
  overflow: visible;
}
@media only screen and (min-width: 1136px) {
  /* line 420, ../sass/partials/_modules.scss */
  .peak-blocks .container {
    width: 100%;
    margin: auto;
  }
  /* line 426, ../sass/partials/_modules.scss */
  .no-flexbox .peak-blocks .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 1136px) {
  /* line 432, ../sass/partials/_modules.scss */
  .peak-blocks .container::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: -50vw;
    bottom: 0;
    left: -50vw;
    height: 1px;
    margin: auto;
    background-color: #402402;
  }
}

/* line 448, ../sass/partials/_modules.scss */
.block {
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid #402402;
}
@media only screen and (min-width: 1136px) {
  /* line 448, ../sass/partials/_modules.scss */
  .block {
    margin-bottom: 0;
    background-color: #402402;
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}
/* line 457, ../sass/partials/_modules.scss */
.block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 580px) and (max-width: 1135px) {
  /* line 460, ../sass/partials/_modules.scss */
  .block:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1136px) {
  /* line 465, ../sass/partials/_modules.scss */
  .block::before {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 10%;
    left: 0;
    width: 1px;
    margin: auto;
    background-color: rgba(64, 36, 2, 0.7);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #402402 20%, #402402 80%, rgba(0, 0, 0, 0));
    transition: all .5s ease-out;
    z-index: -10;
  }
}
@media only screen and (min-width: 1136px) {
  /* line 481, ../sass/partials/_modules.scss */
  .block:hover::before {
    top: -17%;
    bottom: -17%;
  }
}
/* line 487, ../sass/partials/_modules.scss */
.block .wrapper--block {
  position: relative;
  height: 19rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  filter: sepia(100%);
}
@media only screen and (min-width: 210px) and (max-width: 1135px) {
  /* line 495, ../sass/partials/_modules.scss */
  .block .wrapper--block::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: -15%;
    background-color: #402402;
    opacity: .45;
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    transition: all .5s ease-out;
    z-index: -10;
  }
  /* line 504, ../sass/partials/_modules.scss */
  .no-cssfilters .block .wrapper--block::after {
    background-color: #1d1101;
  }
}
@media only screen and (min-width: 210px) and (max-width: 1135px) {
  /* line 513, ../sass/partials/_modules.scss */
  .block .wrapper--block:hover::after {
    right: 120%;
    opacity: 0;
  }
}
/* line 520, ../sass/partials/_modules.scss */
.block__img {
  position: absolute;
  height: 100%;
  z-index: -10;
}
@media only screen and (min-width: 1136px) {
  /* line 520, ../sass/partials/_modules.scss */
  .block__img {
    left: -50%;
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}
@media only screen and (min-width: 210px) and (max-width: 1135px) {
  /* line 529, ../sass/partials/_modules.scss */
  .objectfit .block__img {
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 752px) and (max-width: 1135px) {
  /* line 534, ../sass/partials/_modules.scss */
  .no-objectfit .block__img {
    height: auto;
    max-height: 160%;
    max-width: 160%;
  }
}
@media only screen and (min-width: 580px) and (max-width: 751px) {
  /* line 534, ../sass/partials/_modules.scss */
  .no-objectfit .block__img {
    max-height: 200%;
    max-width: 200%;
  }
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 534, ../sass/partials/_modules.scss */
  .no-objectfit .block__img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: auto;
    max-height: 300%;
    max-width: 300%;
  }
}
/* line 556, ../sass/partials/_modules.scss */
.block__title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #F2ECCE;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(64, 36, 2, 0.7);
  transform: translateY(-50%);
  transition: all .5s ease-out;
  z-index: 1;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 556, ../sass/partials/_modules.scss */
  .block__title {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
/* line 574, ../sass/partials/_modules.scss */
.no-cssfilters .block__title {
  background-color: rgba(29, 17, 1, 0.7);
}
@media only screen and (min-width: 1136px) {
  /* line 577, ../sass/partials/_modules.scss */
  .block__title span {
    display: block;
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}
/* line 584, ../sass/partials/_modules.scss */
.block__menu {
  margin-top: 4rem;
  color: #F2ECCE;
  background-color: rgba(115, 74, 25, 0.7);
  visibility: hidden;
  transition: all .16s ease-out .1s;
}
/* line 591, ../sass/partials/_modules.scss */
.no-cssfilters .block__menu {
  background-color: rgba(29, 17, 1, 0.7);
}
/* line 595, ../sass/partials/_modules.scss */
.block__item {
  padding: .2rem .5rem;
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 595, ../sass/partials/_modules.scss */
  .block__item {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
/* line 600, ../sass/partials/_modules.scss */
.block__item:hover {
  color: #0D0D0D;
  background-color: #F2ECCE;
}
@media only screen and (min-width: 1136px) {
  /* line 604, ../sass/partials/_modules.scss */
  .block__item a {
    display: block;
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}
/* line 612, ../sass/partials/_modules.scss */
.block:hover .block__title {
  top: 0;
  transform: translateY(0%);
}
/* line 616, ../sass/partials/_modules.scss */
.block:hover .block__menu {
  visibility: visible;
}

/* line 621, ../sass/partials/_modules.scss */
.information {
  margin-bottom: 5em;
}
/* line 624, ../sass/partials/_modules.scss */
.information--about .container {
  overflow: visible;
}
/* line 629, ../sass/partials/_modules.scss */
.information--author .container {
  overflow: visible;
}
/* line 633, ../sass/partials/_modules.scss */
.information--contact {
  margin-bottom: 0;
}

/* line 637, ../sass/partials/_modules.scss */
.initial-letter {
  position: relative;
}
/* line 639, ../sass/partials/_modules.scss */
.initial-letter::before {
  content: attr(data-content);
  font-family: "Playfair Display", serif;
  color: rgba(29, 17, 1, 0.15);
}
@media only screen and (min-width: 210px) and (max-width: 579px) {
  /* line 639, ../sass/partials/_modules.scss */
  .initial-letter::before {
    display: none;
  }
}
@media only screen and (min-width: 580px) and (max-width: 1135px) {
  /* line 639, ../sass/partials/_modules.scss */
  .initial-letter::before {
    margin: -.35em .13em -.25em 0;
    float: left;
    font-size: 5em;
  }
}
@media only screen and (min-width: 1136px) {
  /* line 639, ../sass/partials/_modules.scss */
  .initial-letter::before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8.5em;
    line-height: 1;
    transform: translate(-50%, -50%);
  }
}
/* line 660, ../sass/partials/_modules.scss */
.initial-letter::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3em;
  width: 1em;
  border-right: 3px solid rgba(29, 17, 1, 0.15);
  border-left: 3px solid rgba(29, 17, 1, 0.15);
  transform: skew(-10deg) translateY(50%);
  transform-origin: right top;
}
@media only screen and (min-width: 580px) and (max-width: 1135px) {
  /* line 672, ../sass/partials/_modules.scss */
  .initial-letter::first-letter {
    font-size: 0;
    columns: transparent;
  }
}

/* line 679, ../sass/partials/_modules.scss */
.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-out 1 forwards;
}

/* line 683, ../sass/partials/_modules.scss */
.responsive {
  display: block;
}

@keyframes fadeIn {
  to {
    opacity: 0.1;
  }
}
