@font-face {
    font-family: 'WalleyeRegular';
    src: font-url('walleye/walleye-webfont.eot');
    src: font-url('walleye/walleye-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('walleye/walleye-webfont.woff2') format('woff2'),
         font-url('walleye/walleye-webfont.woff') format('woff'),
         font-url('walleye/walleye-webfont.svg#walleyeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WalleyeBold';
    src: font-url('walleye/walleye-bold-webfont.eot');
    src: font-url('walleye/walleye-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('walleye/walleye-bold-webfont.woff2') format('woff2'),
         font-url('walleye/walleye-bold-webfont.woff') format('woff'),
         font-url('walleye/walleye-bold-webfont.svg#walleyebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WalleyeBoldItalic';
    src: font-url('walleye/walleye-bolditalic-webfont.eot');
    src: font-url('walleye/walleye-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('walleye/walleye-bolditalic-webfont.woff2') format('woff2'),
         font-url('walleye/walleye-bolditalic-webfont.woff') format('woff'),
         font-url('walleye/walleye-bolditalic-webfont.svg#walleyebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WalleyeItalic';
    src: font-url('walleye/walleye-italic-webfont.eot');
    src: font-url('walleye/walleye-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('walleye/walleye-italic-webfont.woff2') format('woff2'),
         font-url('walleye/walleye-italic-webfont.woff') format('woff'),
         font-url('walleye/walleye-italic-webfont.svg#walleyeitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}