* {
	margin: 0;
	padding: 0;
}

a {
	@extend %link-reset;
}
.container {
	padding: 0 1em;
}
header {
	overflow: hidden;
}
.navbar {
	position: fixed;
	width: 100%;
	padding: .5em 0;
	@include MQ(XS){
		padding: .7em 0;
	}
	@include font-size(14px);
	@include MQ(S){
		@include font-size(13px);			
	}
	background-color: $bg-color-nav;
	@include box-shadow($color-tertiary 0 1px 5px);
	z-index: 100;
	&__icon {
		position: relative;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: block;
		height: 1em;
		width: 1.5em;
		margin: auto;
		@include skewed-box;
		@include MQ(Splus){
			display: none;
		}
		&:hover {
			cursor: pointer;
		}
		&::before, &::after {
			position: absolute;
			display: block;
			@include MQ(Splus) {
				display: none;
			}
			top: 0;
			bottom: 0;
			margin: auto 0;
			color: tint($text-color-secondary, 20%);
			font-family: $heading-font;
			@include font-size(16px);
			font-weight: 700;
			line-height: 1;
			@include skewed-box($inverse-skew);
		}
		&::before {
			content: 'Korona';
			right: 150%;
			font-style: italic;
		}
		&::after {
			content: 'Sudet\00f3w';
			left: 150%;
			text-transform: uppercase;
		}
	}
	&__icon-bar {
		position: absolute;
		display: block;
		height: 2px;
		width: 100%;
		background-color: tint($color-tertiary, 20%);
		@include box-shadow($color-tertiary 1px 1px 1px);
		&--2 {
			top: 0;
			bottom: 0;
			margin: auto 0;
		}
		&--3 {
			bottom: 0;
		}
	}
	&__menu {
		@extend %list-reset;
		display: none;
		@include MQ(Splus){
			display: block;
		}
		margin: 0;
		@include MQ(XS){
			margin-top: 1em;
			border-top: 1px solid rgba($line-color, .7);
			border-image: linear-gradient(90deg, transparent, $line-color 20%, $line-color 80%, transparent) 1;
		}
	}
	&__item {
		position: relative;
		padding-left: 2.5641%;
		@include MQ(XS){
			padding: .7em 0 0;
		}
		text-align: center;
		&:first-child {
			@include MQ(XS){
				padding: .9em 0 0;
			}
		}
		&:last-child {
			padding-left: 0;
		}
		&::before, &::after {
			@include MQ(XS){
				display: none;
			}
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			margin-right: .4em;
			@include skewed-box;
		}
		&::before {
			top: 0;
			border-left: 1px solid $color-tertiary;
		}
		&::after {
			right: 100%;
			display: block;
			border-bottom: 1px solid;
			@include border-gradient(to right, $color-tertiary, transparent);
			/*visibility: hidden;*/
			@include single-transition(all, .3s, ease-out);
			.no-borderimage &, .no-cssgradients & {
				border-bottom: 1px solid $color-tertiary;
			}
		}
		&:hover::after {
			@include MQ(Splus){
				right: 0;
				/*visibility: visible;*/
			}
		}
		a {
			position: relative;
			display: inline-block;
			height: 2em;
			padding: .2em;
			color: $text-color-secondary;
			line-height: 1.6;
			text-transform: uppercase;
			@include single-transition(all, .3s, ease-out);
			&:hover {
				font-weight: bolder;
				@include MQ(XS){
					font-weight: bold;
				}
				color: $color-tertiary;
			}
		}
	}
}
.section-image {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: sepia(100%);
	margin-bottom: 4em;
	& .container {
		overflow: visible;
	}
	&--header {
		height: 100vh;
		margin-bottom: 0;
		background-image: image-url("#{$img-path-rudjan}ostra_mala.jpg");
		.no-cssfilters & {
			background-image: image-url("#{$img-path-rudjan}ostra_mala_s.jpg");
		}
		& .container {
			display: flex;
			height: 100%;
			align-items: center;
			/*overflow: visible;*/
		}
	}
	&--about {
		background-image: image-url("#{$img-path-msnie}Snieznik.jpg");
		background-position: left 35%;
		.no-cssfilters & {
			background-image: image-url("#{$img-path-msnie}Snieznik_s.jpg");
		}
		border-top: 1px solid $line-color;
		border-bottom: 1px solid $line-color;
		@include border-gradient(to right, $line-color, transparent);
		z-index: -10;
	}
	&--author {
		background-image: image-url("#{$img-path-gkacz}gory_kaczawskie_panorama.jpg");
		.no-cssfilters & {
			background-image: image-url("#{$img-path-gkacz}gory_kaczawskie_panorama_s.jpg");
		}
		border-top: 1px solid $line-color;
		border-bottom: 1px solid $line-color;
		@include border-gradient(to right, $line-color, transparent);
		z-index: -10;
	}
}
.wrapper {
	&--title {
		position: relative;
		margin-left: .5em;
		@include skewed-box($skew, left, top);
		&::before, &::after {
			content: '';
			position: absolute;
			top: 50%;
			display: block;
			height: 1px;
			margin: auto 0;
			border-top: 1px solid $line-color;
		}
		&::before {
			@include MQ(Lplus){
				right: 100%;
				left: -50vw;
			}
		}
		&::after {
			@include MQ(Splus){
				right: -50vw;
				left: 100%;
			}
		}
	}
	&--section {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: -1px;
			right: 0;
			bottom: 0;
			left: -50vw;
			@include skewed-box($skew, left, top);
			background-color: rgba($bg-color-heading, .7);
			.no-cssfilters & {
				background-color: rgba(darken($bg-color-heading, 7%), .7);
			}
			z-index: -1;
		}
		&::after {
			@include MQ(Splus){
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				height: 100%;
				width: 62%;
				@include skewed-box($skew, left, top);
				background-color: rgba($bg-color-primary, .2);
				z-index: -1;
			}
		}
	}
}
.title {
	color: $text-color-primary-inverse;
	font-family: $heading-font;
	font-weight: 900;
	&--main {
		position: relative;
		display: flex;
		@include MQ(XS){
			display: none;
		}
		flex-wrap: wrap;
		margin: 0;
		padding-bottom: .4em;
		@include font-size(100px);
		@include MQ(S){
			font-size: 3.35em;
		}
		@include MQ(M){
			font-size: 3.85em;
		}
		text-transform: uppercase;
		span {
			@include skewed-box($inverse-skew, left, top);
			z-index: 1;
			em {
				color: tint($color-tertiary, 30%);
				font-size: .85em;
				text-transform: none;
			}
			&:first-child, &:last-child {
				display: flex;
			}
			&:first-child {
				align-items: center;
				margin-left: -.085em;
				margin-right: 0;
				font-size: 2.2em;
			}
			&:last-child {
				flex-direction: column;
				justify-content: center;
				padding-top: .13em;
				font-size: .9em;
				line-height: 1.2;
			}
		}
		&::before, &::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: -50vw;
			@include MQ(Lplus){
				left: 0;
			}
		}
		&::before {
			top: .45em;
			bottom: .65em;
			background-color: rgba($bg-color-heading, .7);
			.no-cssfilters & {
				background-color: rgba(darken($bg-color-heading, 7%), .7);
			}
		}
		&::after {
			border-right: 1px solid rgba($line-color, .7);
			border-left: 1px solid rgba($line-color, .7);
			border-image: linear-gradient(transparent, $line-color 20%, $line-color 80%, transparent) 1;
		}
	}
	&--section {
		/*position: relative;*/
		margin: 0;
		padding: 3rem 0;
		@include MQ(XS){
			font-size: 2em;
		}
		@include MQ(S){
			font-size: 2.5em;
		}
		@include MQ(M){
			font-size: 3em;
		}
		white-space: nowrap;
		/*&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: -50vw;
			@include skewed-box($skew, left, top);
			background-color: rgba($bg-color-heading, .7);
			.no-cssfilters & {
				background-color: rgba(darken($bg-color-heading, 7%), .7);
			}
			z-index: -1;
		}
		&::after {
			@include MQ(Splus){
				content: '';
				position: absolute;
				top: 0;
				left: 100%;
				height: 100%;
				width: 62%;
				@include skewed-box($skew, left, top);
				background-color: rgba($bg-color-primary, .2);
				z-index: -1;
			}
		}*/
	}
}
.peak-blocks {
	position: relative;
	padding: 5rem 0;
	overflow: hidden;
	@include MQ(Lplus){
		display: flex;
		align-items: center;
			.no-flexbox & {
				display: block;
			}
		height: 100vh;
		margin: 0;
		padding: 0;
	}
	&__img {
		display: none;
		@include MQ(Lplus){
			position: absolute;
			display: block;
			height: auto;
			width: auto;
			max-width: 100%;
			object-fit: cover;
			.no-objectfit & {
				top: -27%;
				left: 0;
				height: 150%;
				width: 150%;
			}
			filter: sepia(100%);
			opacity: .1;
			z-index: -100;
		}
	}
	.container {
		position: relative;
		overflow: visible;
		@include MQ(Lplus){
			width: 100%;
			margin: auto;
			.no-flexbox & {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&::before {
			@include MQ(Lplus) {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				right: -50vw;
				bottom: 0;
				left: -50vw;
				height: 1px;
				margin: auto;
				background-color: $line-color;
			}
		}
	}
}
.block {
	position: relative;
	margin-bottom: 1.5rem;
	border: 1px solid $line-color;
	@include MQ(Lplus){
		margin-bottom: 0;
		background-color: $bg-color-blocks;
		@include skewed-box($skew, left, top);
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:nth-last-child(2) {
		@include MQ(StoL){
			margin-bottom: 0;
		}
	}
	&::before {
		@include MQ(Lplus){
			content: '';
			position: absolute;
			top: 10%;
			right: 0;
			bottom: 10%;
			left: 0;
			width: 1px;
			margin: auto;
			background-color: rgba($line-color, .7);
			background: linear-gradient(to top, transparent, $line-color 20%, $line-color 80%, transparent);
			transition: all .5s ease-out;
			z-index: -10;
		}
	}
	&:hover::before {
		@include MQ(Lplus){
			top: -17%;
			bottom: -17%;
		}
	}
	.wrapper--block {
		position: relative;
		height: 19rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		filter: sepia(100%);
		&::after {
			@include MQ(XStoL){
				content: '';
				position: absolute;
				top: 0;
				right: 50%;
				bottom: 0;
				left: -15%;
				background-color: $bg-color-heading;
				.no-cssfilters & {
		   		background-color: darken($bg-color-heading, 7%);
		   	}
				opacity: .45;
				@include skewed-box($skew, center, center);
				transition: all .5s ease-out;
				z-index: -10;
			}
		}
		&:hover::after {
			@include MQ(XStoL){
				right: 120%;
				opacity: 0;
			}
		}
	}
	&__img {
		position: absolute;
		height: 100%;
		z-index: -10;
		@include MQ(Lplus){
			left: -50%;
			@include skewed-box($inverse-skew, left, top);
		}
		@include MQ(XStoL){
			.objectfit & {
				width: 100%;
				object-fit: cover;
			}
		}
		.no-objectfit & {
			@include MQ(M){
				height: auto;
				max-height: 160%;				
				max-width: 160%;
			}
			@include MQ(S){
				max-height: 200%;
				max-width: 200%;
			}
			@include MQ(XS){
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				height: auto;
				max-height: 300%;
				max-width: 300%;
			}
		}
	}
	&__title {
		position: absolute;
		top: 50%;
		width: 100%;
		margin: auto;
		padding: 1rem 0;
		font-family: $heading-font;
		font-weight: 400;
		@include MQ(XS){
			@include font-size(14px);
		}
		color: $text-color-primary-inverse;
		text-align: center;
		text-transform: uppercase;
		background-color: rgba($bg-color-heading, .7);
		transform: translateY(-50%);
   	transition: all .5s ease-out;
   	z-index: 1;
   	.no-cssfilters & {
   		background-color: rgba(darken($bg-color-heading, 7%), .7);
   	}
		span {
			@include MQ(Lplus){
				display: block;
				@include skewed-box($inverse-skew, left, top);
			}
		}
	}
	&__menu {
		margin-top: 4rem;
		@extend %list-reset;
		color: $text-color-primary-inverse;
		background-color: rgba($color-tertiary, .7);
		visibility: hidden;
		transition: all .16s ease-out .1s;
   	.no-cssfilters & {
   		background-color: rgba(darken($bg-color-heading, 7%), .7);
   	}
	}
	&__item {
		padding: .2rem .5rem;
		@include MQ(XS){
			@include font-size(14px);
		}
		&:hover {
			color: $text-color-primary;
			background-color: $bg-color-primary;
		}
		a {
			@include MQ(Lplus){
				display: block;
				@include skewed-box($inverse-skew, left, top);
			}
		}
	}
	&:hover {
		.block__title {
			top: 0;
   		transform: translateY(0%);
		}
		.block__menu {
			visibility: visible;
		}
	}
}
.information {
	margin-bottom: 5em;
	&--about {
		.container {
			overflow: visible;
		}
	}
	&--author {
		.container {
			overflow: visible;
		}
	}
	&--contact {
		margin-bottom: 0;
	}
}
.text-columns {
	position: relative;
	&::before {
		@include MQ(Lplus) {
			content: 'L';
			position: absolute;
			top: 0;
			left: 0;
			font-family: $heading-font;
			font-size: 8.5em;
			color: $initial-letter;
			line-height: 1;
			transform: translate(-50%, -50%);
		}
	}
	&::first-letter {
		@include MQ(XStoL) {
			float: left;
			margin-top: -.1em;
			margin-right: .1em;
			font-family: $heading-font;
			font-size: 5em;
			color: $initial-letter;
			line-height: .9;
		}
	}
}
.fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-out 1 forwards;
}
.responsive {
	display: block;
}